<html>
  <head>
    <title>Kiva Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="/stylesheets/style.css"-->
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <!--script src="/javascripts/angularApp.js"></script-->
    <script src="angularApp.js"></script>
  </head>
  <body ng-app="kiva" >
 
        <div ng-controller="MainCtrl">
           <div>Add New Project </div>
            <form ng-submit="addProject()">
                <input type="text" placeholder="Project Name" ng-model=name></input>
                <input type="text" placeholder="Owner Name" ng-model=owner></input>
                <input type="text" placeholder="goal" ng-model=goal></input>
                <button type="submit">Create</button>
            </form>
           <div ng-repeat="proj in proj_list">
            <h3> {{proj.name}} </h3>
                <div>Owner: {{proj.owner}} </div>
                <div>Goal: ${{proj.goal}} </div>
                <div>Supporters: 
                    <span ng-repeat="supporter in proj.supporters">{{supporter}}; </span>
                </div>    
            </div>
        </div>

  </body>
</html>  
