<html>
    <head>
        <title>Sia</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/pie.css">
        <!--link rel="stylesheet" href="style.css"-->
        <script src="javascripts/angular.min.js"></script>
        <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
        <script src="javascripts/angular-ui-router.min.js"></script>
        <!--script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script-->
        <script src="/javascripts/angularApp.js"></script>
        <!--script src="angularApp.js"></script-->
    </head>
    <body ng-app="sia">
  
        <!--Include Navbar -->
        <div ui-view="header"></div>
        
        <!--Includes Main Body -->
        <div ui-view="main"></div>


        <!-- Header navbar -->
        <script type="text/ng-template" id="/navbar.html">
            <nav class="navbar navbar-default navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#/">Sia</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#/projects">Projects</a></li>
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search projects...">
                                </div>                            
                                <button type="submit" class="btn btn-default">Go!</button>                        
                            </form>
                        </li>            
                          
            
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{(!!$root.user && $root.user!=='0')?'#/new_project':'#/signin'}}">New Project</a></li>
                        <li ng-hide={{$root.user}}><a href="#/register">Register</a></li>
                        <li ng-hide={{$root.user}}><a href="#/signin">Sign In</a></li>
                        <li ng-show={{$root.user}} ng-click="signout()"><a href="#">Log Out</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        </script>
        


        <!--Home Page-->
        <script type="text/ng-template" id="/home.html">
            <div>                               
                <div class="row center-block">
                    <div class="jumbotron">
                        <h1>Empower Farmers!</h1>
                        <p>Sia is network of network of donors, lenders and borrowers. <a href="#/about">Read More</a></p>
                        <p><a class="btn btn-primary btn-lg" href="#/projects" role="button">See Projects</a></p>
                    </div>
                    
                    <!--div class="col-md-offset-1"-->
                    <div ng-repeat="proj in projects">  
                            <div class="col-md-4">
                                <a href="#/projects/{{proj._id}}">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                    </div>
                                    <div class="caption">
                                       <h3>{{proj.name}}</h3>
                                       <p>Some sample text. Some sample text.</p>
                                       <p>Goal: {{proj.goal}}</p>
                                       <p>
                                          <a href="#" class="btn btn-primary" role="button">
                                             Button
                                          </a> 
                                          <a href="#" class="btn btn-default" role="button">
                                             Button
                                          </a>
                                       </p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    <!--/div-->
                </div>    
            </div>
        </script>

        <!--All Projects Listing-->
        <script type="text/ng-template" id="/projects.html">
            <div>                               
                <div class="row center-block">
                    <div ng-repeat="proj in projects">  
                            <div class="col-md-4">
                                    <div class="thumbnail">
                                        <a href="#/projects/{{proj._id}}">
                                            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <h3><a href="#/projects/{{proj._id}}">{{proj.name}}</a></h3>
                                        <p>{{proj.description}} <a href="#/projects/{{proj._id}}">Read More</a></p>
                                        <p>Goal: {{proj.goal}}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{100*proj.funds/proj.goal}}%">

                                                </div>
                                              </div>
                                       <!--p>
                                          <a href="#" class="btn btn-primary" role="button">
                                             Button
                                          </a> 
                                          <a href="#" class="btn btn-default" role="button">
                                             Button
                                          </a>
                                       </p-->
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>    
            </div>
        </script>    
        
        <!--Project Page-->
        <script type="text/ng-template" id="/project.html">
             <!--
            <h3>Name: {{project.name}}</h3>
            <button ng-hide={{$root.user._id!=project.owner}} class="right" ng-click="deleteProject()">Delete</button>
            <div ng-click="clicked('goal')">
                <span>Goal: $</span>
                <span id="goal">{{project.goal}}</span>
            </div>
            
            <div>Funds: ${{project.funds}}</div>
            
            <div>{{project.owner}}</div>

            <div>                
                <form ng-submit="donate()">
                    $<input type="text" placeholder="Amount" ng-model=amount></input>
                    <button type="submit">Give</button>
                </form>                
            </div>
            -->
                            
            <hr class="">
            <div class="container target">
                <div class="row">
                    <div class="col-sm-10">
                        <h1 class="">{{project.name}}</h1>
                        <br>
                    </div>
                </div>
                <hr class="colorgraph">
                <br>
                <div class="row">
                    <!-- left col-->
                    <!-- Modified from http://www.bootply.com/DVDS9uf79e-->
                    <div class="col-sm-7" contenteditable="false" style="">
                        <div class="panel panel-default">
                            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;">
                        </div>
            
                       <div class="panel panel-default">
                            <div class="panel-heading">Project Description</div>
                            <div class="panel-body">{{project.description}}</div>
                        </div>
                    </div>
        
                    
                    <!--right col-->
                    <div class="col-sm-5">
                        
                        <!--Pie Chart -->
                        <!-- Modified from http://stackoverflow.com/questions/20525820/css3-simple-donut-chart -->
                        <!--div class="half_pie">
                            <div class="half_part_pie_one half_bar_color half_percentage" data-percentage="95"></div>
                            <div class="half_part_pie_two"></div>
                            <div class="half_part_pie_three"></div>
                            <span class="half_pie_icon iconfont-android"></span>
                        </div-->
                        
                        <!-- Donation Form -->
                        <form ng-submit="donate()">
                            <div class="input-group form-group col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group-addon">$</div>
                                <input type="text" ng-model=amount class="form-control"  tabindex="2">
                            </div>
                        
                            <input type="submit" value="Donate" class="btn btn-success ">
                        </form>
                        
                        <ul class="list-group">
                            <li class="list-group-item text-muted" contenteditable="false">Info</li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Funds Raised</strong></span>${{project.funds}}
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Goal</strong></span>${{project.goal}}
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Percentage Raised</strong></span>{{progress}}%
                            </li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Progress</strong></span>{{progressMsg}}
                            </li>
                        </ul>    
                        
                        <!-- Admin Panel -->
                        <ul class="list-group">
                            <li class="list-group-item text-muted">Admin Panel</li>
                            <li class="list-group-item text-right">
                                <span class="pull-left"><strong class="">Goal</strong></span>
                                $<span id="admin-goal" contenteditable="true">{{project.goal}}</span>
                            </li>
                            <li class="list-group-item text-right" ><span class="pull-left">
                                <strong class="">Description</strong></span>
                                <span id="admin-description" contenteditable="true">{{project.description}}
                            </li>
                        </ul>    
                        <!--input type="submit" value="Apply Changes" class="btn btn-info"-->
                        <button type="button" class="btn btn-info" ng-click="updateValue('admin-goal', 'admin-description')">Apply Changes</button>

                        <!-- 
                        <div class="panel panel-default">
                            <div class="panel-heading">Title</div>
                                <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i>Foo Bar</div>
                            </div> 
                        </div>
                       -->
                    </div>
                </div>
            </div>                
        </script>
        
        <!-- Add New Project Page -->
        <script type="text/ng-template" id="/new_project.html">
                <!--
                <div>Add New Project </div>
                                
                <form ng-submit="addProject()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Project Name" ng-model="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Goal" ng-model="goal">$
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
                --> 
                  
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                        <div class="account-wall-2">

                            <h3>Create New Project</h3>
                            <hr class="colorgraph">
                            
                            <form role="form" ng-submit="addProject()">
                                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                                    <input type="text" ng-model=name class="form-control" placeholder="Project Name" tabindex="1">
                                </div>
                                <div class="input-group form-group col-xs-12 col-sm-6 col-md-6">
                                    <div class="input-group-addon">$</div>
                                    <input type="text" ng-model=goal class="form-control" placeholder="Project Goal" tabindex="2">
                                </div>
                                <!--div class="col-xs-12 col-sm-6 col-md-12">
                                    <textarea ng-model=description class="form-control" placeholder="Project Description" tabindex="3">
                                </div-->
                                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                                    <input type="text" ng-model=description class="form-control" placeholder="Project Description" tabindex="3">
                                </div>
                                <div class="row down">
                                    <div class="col-xs-12 col-md-12">
                                            <!--hr class="colorgraph"-->
                                            <input type="submit" value="Create" class="btn btn-info btn-block btn-lg">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </script>
        
        <!-- Signin Page-->
        <script type="text/ng-template" id="/signin.html">
            <!--h3>Sign Up</h3>
            <form ng-submit="signin()">
                <input type="text" ng-model="username" placeholder="Username" required autofocus>
                <input type="password" ng-model="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
            </form-->
         
            <!--  Google style login 
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <div class="account-wall">
                            <div id="my-tab-content" class="tab-content">
                                <div class="tab-pane active" id="login">
                                    <img class="profile-img" src="/images/user.png" alt="">
                                        <form class="form-signin" ng-submit="signin()">
                                                <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus>
                                                <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
                                                
                                                <hr class="colorgraph">
                                                <input type="submit" class="btn btn-lg btn-default btn-block btn-success" value="Sign In" />
                                        </form>
                                        <div id="tabs" data-tabs="tabs">
                                                <p class="text-center"><a href="#/register" data-toggle="tab">Create an Account?</a></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                        <div class="account-wall-2">

                            <h3>Sign In</h3>
                            <hr class="colorgraph">
                            
                            <form role="form" ng-submit="signin()">
                                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                                    <input type="text" ng-model=username class="form-control" placeholder="Username" tabindex="1">
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                                    <input type="password" ng-model=password class="form-control" placeholder="Password" tabindex="2">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                            <hr class="colorgraph">
                                            <input type="submit" value="Sign In" class="btn btn-success btn-block btn-lg">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </script>

        
        <!--Register Page-->        
        <script type="text/ng-template" id="/register.html">
            <!--h3>Register</h3>
            <form ng-submit="register()">
                <input type="text" placeholder="Username" ng-model=username required autofocus class="form-control"></input>
                <input type="password" placeholder="Password" ng-model=password required class="form-control nomargin"></input>
                <input type="text" placeholder="Email" ng-model=email required class="form-control"></input>
                <input type="text" placeholder="First Name" ng-model=firstname class="form-control"></input>
                <input type="text" placeholder="Last Name" ng-model=lastname  class="form-control"></input>
                <button type="submit">Register</button>
            </form-->
            
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="account-wall-2">
                    <form role="form" ng-submit="register()">
                        <h3>Register</h3>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" ng-model=firstname class="form-control" placeholder="First Name" tabindex="1">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                        <input type="text" ng-model=lastname class="form-control" placeholder="Last Name" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model=username class="form-control" placeholder="Username" tabindex="3">
                        </div>
                        <div class="form-group">
                            <input type="email" ng-model=email class="form-control" placeholder="Email" tabindex="4">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" ng-model=password class="form-control" placeholder="Password" tabindex="5">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password" tabindex="6">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" ng-model=location class="form-control" placeholder="Location" tabindex="7">
                        </div>
                        
                        <hr class="colorgraph">
                        <div class="row">
                                <div class="col-xs-12 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                                <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </script>

        <!--Profile Page -->
        <script type="text/ng-template" id="/profile.html">
            <h3>Welcome {{user.username}}</h3>
            <div>Email---> {{user.email}} </div>
        </script>
        
        <!--About Page -->
        <script type="text/ng-template" id="/about.html">
            <ul>
                <li>Sia is a peer-to-peer lending and donating system that empowers farmers.</li>
                <li>Sia supports 3 main initiatives.</li>
                <li>People can crowd-fund entrepreneurial initiatives, such as helping buy new seed or a tractor.</li>
                <li>People can crowd-fund the paying of the farmer's debt- debt where the farmer's lands is held as collalorator by lenders (that charge very high interest, ~40%).</li>
                <li>Projects can be listed as a donation or loan project.</li>
                <li>Sia encourages collaboration and co-operation between farmers by exempting 50% of loans if the money is used to help the initiatives of fellow farmers.</li>
                <li>Loan is primarily paid back in the form of a percent of the produce above a certain threshold, below which the farmer keeps.</li>
                <li>People can donate/lend to farmers in geographical proximity, so they can directly pick up the produce.</li>
                <li>This will allow people to directly see how their money is being used.</li>
            </ul>
        </script>

        


  </body>
</html>  
