<html>
    <head>
        <title>Sia</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <!--link rel="stylesheet" href="style.css"-->
        <script src="javascripts/angular.min.js"></script>
        <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
        <script src="javascripts/angular-ui-router.min.js"></script>
        <!--script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script-->
        <script src="/javascripts/angularApp.js"></script>
        <!--script src="angularApp.js"></script-->
    </head>
    <body ng-app="sia">
  
        <!--Include Navbar -->
        <div ui-view="header"></div>
        
        <!--Includes Main Body -->
        <div ui-view="main"></div>


        <!-- Header navbar -->
        <script type="text/ng-template" id="/navbar.html">
            <nav class="navbar navbar-default navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#/">Sia</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#/projects">Projects</a></li>
                        <li ng-show={{$root.user}}><a href="#/projects">{{$root.user.username}}</a></li>
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search projects...">
                                </div>                            
                                <button type="submit" class="btn btn-default">Go!</button>                        
                            </form>
                        </li>            
                          
            
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{(!!$root.user && $root.user!=='0')?'#/new_project':'#/signin'}}">New Project</a></li>
                        <li ng-hide={{$root.user}}><a href="#/register">Register</a></li>
                        <li ng-hide={{$root.user}}><a href="#/signin">Sign In</a></li>
                        <li ng-show={{$root.user}} ng-click="signout()"><a href="#">Log Out</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        </script>
        


        <!--Home Page-->
        <script type="text/ng-template" id="/home.html">
            <div>                               
                <div class="row center-block">
                    <div class="jumbotron">
                        <h1>Empower Farmers!</h1>
                        <p>Sia is network of network of donors, lenders and borrowers. <a href="#/about">Read More</a></p>
                        <p><a class="btn btn-primary btn-lg" href="#/projects" role="button">See Projects</a></p>
                    </div>
                    
                    <!--div class="col-md-offset-1"-->
                    <div ng-repeat="proj in projects">  
                            <div class="col-md-4">
                                <a href="#/projects/{{proj._id}}">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                    </div>
                                    <div class="caption">
                                       <h3>{{proj.name}}</h3>
                                       <p>Some sample text. Some sample text.</p>
                                       <p>Goal: {{proj.goal}}</p>
                                       <p>
                                          <a href="#" class="btn btn-primary" role="button">
                                             Button
                                          </a> 
                                          <a href="#" class="btn btn-default" role="button">
                                             Button
                                          </a>
                                       </p>
                                    </div>
                                </a>
                            </div>
                    </div>
                    <!--/div-->
                </div>    
            </div>
        </script>

        <!--All Projects Listing-->
        <script type="text/ng-template" id="/projects.html">
            <div>                               
                <div class="row center-block">
                    <div ng-repeat="proj in projects">  
                            <div class="col-md-4">
                                <a href="#/projects/{{proj._id}}">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                                    </div>
                                    <div class="caption">
                                       <h3>{{proj.name}}</h3>
                                       <p>Some sample text. Some sample text.</p>
                                       <p>Goal: {{proj.goal}}</p>
                                       <p>
                                          <a href="#" class="btn btn-primary" role="button">
                                             Button
                                          </a> 
                                          <a href="#" class="btn btn-default" role="button">
                                             Button
                                          </a>
                                       </p>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>    
            </div>
        </script>    
        
        <!--Project Page-->
        <script type="text/ng-template" id="/project.html">
            <h3>Name: {{project.name}}</h3>
            <button class="right" ng-click="deleteProject()">Delete</button>
            <div ng-click="clicked('goal')">
                <span>Goal: $</span>
                <span id="goal">{{project.goal}}</span>
            </div>
            
            <div>Funds: ${{project.funds}}</div>
            
            <!--div ng-repeat="owner in project.owners">
                <div>{{owner}}</div>
            </div-->
            
            <div>                
                <form ng-submit="donate()">
                    $<input type="text" placeholder="Amount" ng-model=amount></input>
                    <button type="submit">Give</button>
                </form>                
            </div>
            
        </script>
        
        <!-- Add New Project Page -->
        <script type="text/ng-template" id="/new_project.html">
                <div>Add New Project </div>
                            
                <form ng-submit="addProject()">
                    <input type="text" placeholder="Project Name" ng-model=name></input>
                    <input type="text" placeholder="Owner Name" ng-model=owner></input>
                    <input type="text" placeholder="goal" ng-model=goal></input>
                    <button type="submit">Create</button>
                </form>
        </script>
        
        <!-- Signin Page-->
        <script type="text/ng-template" id="/signin.html">
            <h1>Sign In</h1>
            <img class='profile-img' src="/images/user.png"></img>
            <form ng-submit="signin()">
                <input type="text" ng-model="username" class="form-control" placeholder="Username" required autofocus></input>
                <input type="password" ng-model="password" class="form-control" placeholder="Password" required></input>
                <button class="btn btn-lg btn-primary btn-block" type='submit'>Sign in</button>
            </form>
            <a href="#/register" class="text-center new-account">Create an Account</a>
        </script>

        
        <!--Register Page-->        
        <script type="text/ng-template" id="/register.html">
            <h3>Register</h3>
            <form ng-submit="register()">
                <input type="text" placeholder="Username" ng-model=username required autofocus class="form-control"></input>
                <input type="password" placeholder="Password" ng-model=password required class="form-control nomargin"></input>
                <input type="text" placeholder="Email" ng-model=email required class="form-control"></input>
                <input type="text" placeholder="First Name" ng-model=firstname class="form-control"></input>
                <input type="text" placeholder="Last Name" ng-model=lastname  class="form-control"></input>
                                                
                <button type="submit">Register</button>
            </form>
        </script>

        <!--Profile Page -->
        <script type="text/ng-template" id="/profile.html">
            <h3>Welcome {{user.username}}</h3>
            <div>Email---> {{user.email}} </div>
        </script>
        
        <!--About Page -->
        <script type="text/ng-template" id="/about.html">
            <ul>
                <li>Sia is a peer-to-peer lending and donating system that empowers farmers.</li>
                <li>Sia supports 3 main initiatives.</li>
                <li>People can crowd-fund entrepreneurial initiatives, such as helping buy new seed or a tractor.</li>
                <li>People can crowd-fund the paying of the farmer's debt- debt where the farmer's lands is held as collalorator by lenders (that charge very high interest, ~40%).</li>
                <li>Projects can be listed as a donation or loan project.</li>
                <li>Sia encourages collaboration and co-operation between farmers by exempting 50% of loans if the money is used to help the initiatives of fellow farmers.</li>
                <li>Loan is primarily paid back in the form of a percent of the produce above a certain threshold, below which the farmer keeps.</li>
                <li>People can donate/lend to farmers in geographical proximity, so they can directly pick up the produce.</li>
                <li>This will allow people to directly see how their money is being used.</li>
            </ul>
        </script>

        


  </body>
</html>  
