<html>
  <head>
    <title>Kiva Clone</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--link rel="stylesheet" href="style.css"-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <!--script src="angularApp.js"></script-->
  </head>
  <body ng-app="kiva" >


        <ui-view></ui-view>



        <script type="text/ng-template" id="/home.html">
            <div> 
               <div>Add New Project </div>
                <form ng-submit="addProject()">
                    <input type="text" placeholder="Project Name" ng-model=name></input>
                    <input type="text" placeholder="Owner Name" ng-model=owner></input>
                    <input type="text" placeholder="goal" ng-model=goal></input>
                    <button type="submit">Create</button>
                </form>
                <div ng-repeat="proj in projects">
                    <h3>
                        <a href="#/projects/{{$index}}">{{proj.name}}</a>
                    </h3>
                    <div>Owner: <a href="#/users/{{proj.owner}}">{{proj.owner}}</a> </div>
                    <div>Goal: ${{proj.goal}} </div>
                    <div>Supporters: 
                        <div ng-repeat="supporter in proj.supporters">{{supporter.userName}}; </div>
                    </div>    
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="/projects.html">
            <h3>{{project.name}}</h3>
            <div>
                {{project.owner}}
            </div>
            <div>
                ${{project.goal}}
            </div>
            <div ng-repeat="supporter in supporters">
                <div>{{supporter}}</div>
            </div>
        </script>

        <script type="text/ng-template" id="/users.html">
            <h3>{{user}}</h3>
        </script>



  </body>
</html>  
