<html>
    <head>
        <title>Sia</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/pie.css">
        <link rel="stylesheet" href="/stylesheets/landing-page.css">

        <!--script src="/bower_components/angular/angular.js"></script-->
        <script src="/javascripts/lib/angular.min.js"></script>
        <script src="/javascripts/lib/angular-resource.min.js"></script>
        <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!--script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script-->
        
        <script src="/javascripts/states.js"></script>
        <script src="/javascripts/factories.js"></script>
        <script src="/javascripts/controllers.js"></script>
        <script src="/bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="/javascripts/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
    </head>
    <body ng-app="sia">
  
        <!--Include Navbar -->
        <div ui-view="header"></div>
        
        <!--Includes Main Body -->
        <div ui-view="main"></div>

  </body>
</html>  
