body {
  /*padding-right: 50px;
  padding-left: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.right{
    position: absolute;
    right: 150px;
}

.bs-example{
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}