
<ul>
    <li>Sia is a peer-to-peer lending and donating system that empowers farmers.</li>
    <li>Sia supports 3 main initiatives.</li>
    <li>People can crowd-fund entrepreneurial initiatives, such as helping buy new seed or a tractor.</li>
    <li>People can crowd-fund the paying of the farmer's debt- debt where the farmer's lands is held as collalorator by lenders (that charge very high interest, ~40%).</li>
    <li>Projects can be listed as a donation or loan project.</li>
    <li>Sia encourages collaboration and co-operation between farmers by exempting 50% of loans if the money is used to help the initiatives of fellow farmers.</li>
    <li>Loan is primarily paid back in the form of a percent of the produce above a certain threshold, below which the farmer keeps.</li>
    <li>People can donate/lend to farmers in geographical proximity, so they can directly pick up the produce.</li>
    <li>This will allow people to directly see how their money is being used.</li>
</ul>
