<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" translate>NAV_HELPKISAAN</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/"translate>NAV_HOME</a></li>
            <li><a href="#about" translate>NAV_ABOUT</a></li>
            <li><a href="#/projects" translate>NAV_PROJECTS</a></li>
            <!--li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search projects...">
                    </div>                            
                    <button type="submit" class="btn btn-default">Go!</button>                        
                </form>
            </li-->            
        </ul>
        <ul class="nav navbar-nav navbar-right">  
            <li><a href="" value="english" ng-click=changelang("en")>English</a></li>
            <li><a href="" value="hindi"   ng-click=changelang("hi")>हिंदी</a></li>
            <li><a href="" value="bengali" ng-click=changelang("bn")>বাঙালি</a></li>
            <li><a href="" value="gujrati" ng-click=changelang("gu")>ગુજરાતી</a></li>
            <li><a href="" value="kannada" ng-click=changelang("kn")>ಕನ್ನಡ</a></li>
            <li><a href="" value="tamil"   ng-click=changelang("ta")>தமிழ்</a></li>
            <li><a href="" value="telugu"  ng-click=changelang("te")>తెలుగు</a></li>
            <li><a href="" value="urdu"    ng-click=changelang("ur")>اردو</a></li>
          
            <li><a href="{{(!!$root.user && $root.user!=='0')?'#/new_project':'#/signin'}}" translate>NAV_NEW_PROJ</a></li>
            <li ng-hide={{$root.user}}><a href="#/register" translate>NAV_REGISTER</a></li>
            <li ng-hide={{$root.user}}><a href="#/signin" translate>NAV_SIGN_IN</a></li>
            <li ng-show={{$root.user}} ng-click="signout()" ><a href="#" translate>NAV_LOG_OUT</a></li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

