 <!--
<h3>Name: {{project.name}}</h3>
<button ng-hide={{$root.user._id!=project.owner}} class="right" ng-click="deleteProject()">Delete</button>
<div ng-click="clicked('goal')">
    <span>Goal: $</span>
    <span id="goal">{{project.goal}}</span>
</div>

<div>Funds: ${{project.funds}}</div>

<div>{{project.owner}}</div>

<div>                
    <form ng-submit="donate()">
        $<input type="text" placeholder="Amount" ng-model=amount></input>
        <button type="submit">Give</button>
    </form>                
</div>
-->
                
<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="">{{project.name}}</h1>
            <br>
        </div>
    </div>
    <hr class="colorgraph">
    <br>
    <div class="row">
        <!-- left col-->
        <!-- Modified from http://www.bootply.com/DVDS9uf79e-->
        <div class="col-sm-7" contenteditable="false" style="">
            <div class="panel panel-default">
                <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ2MDkzNzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMXB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjI0MngyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;">
            </div>

           <div class="panel panel-default">
                <div class="panel-heading" translate>PROJ_DESCRIPTION</div>
                <div class="panel-body">{{project.description}}</div>
            </div>
        </div>

        
        <!--right col-->
        <div class="col-sm-5">
            
            <!--Pie Chart -->
            <!-- Modified from http://stackoverflow.com/questions/20525820/css3-simple-donut-chart -->
            <!--div class="half_pie">
                <div class="half_part_pie_one half_bar_color half_percentage" data-percentage="95"></div>
                <div class="half_part_pie_two"></div>
                <div class="half_part_pie_three"></div>
                <span class="half_pie_icon iconfont-android"></span>
            </div-->
            
            <!-- Donation Form -->
            <form ng-submit="donate()" id="donation_form">
                <div class="input-group form-group col-xs-12 col-sm-6 col-md-6">
                    <div class="input-group-addon">₹</div>
                    <input type="text" ng-model=amount class="form-control"  tabindex="2">
                </div>

                <div>
                    <select ng-model=bank class="form-control">
                        <option value="" selected translate>PROJ_SELECT_BANK</option>
                        <option value="hdfc">HDFC</option>
                        <option value="union">Union Bank</option>
                        <option value="icici">ICICI</option>
                    </select>
                </div>
                
                <input type="submit" value="{{'PROJ_DONATE' | translate }}" class="btn btn-success ">
            </form>
           
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false" translate>PROJ_INFO</li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>PROJ_FUNDS_RAISED</strong></span>₹{{project.funds}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>PROJ_GOAL</strong></span>₹{{project.goal}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>PROJ_PROGRESS</strong></span>{{progress}}%
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>USER_LOCATION</strong></span>{{project.owner.location}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>USER_ACCT_NUMBER</strong></span>{{project.owner.acctnumber}}
                </li>
                <li class="list-group-item text-right">
                    <span class="pull-left"><strong class="" translate>USER_IFSC</strong></span>{{project.owner.ifsc}}
                </li>
            </ul>    
            
            <!-- Admin Panel -->
            <div ng-show=isEditable()>
                <ul class="list-group">
                    <li class="list-group-item text-muted" translate>PROJ_ADMIN_PANEL</li>
                    <li class="list-group-item text-right">
                        <span class="pull-left"><strong class="" translate>PROJ_NAME</strong></span>
                        <span id="admin-name" contenteditable="true">{{project.name||"Unspecified"}}</span>
                    </li>
                    <li class="list-group-item text-right">
                        <span class="pull-left"><strong class=""translate>PROJ_GOAL</strong></span>
                        ₹<span id="admin-goal" contenteditable="true">{{project.goal||"Unspecified"}}</span>
                    </li>
                    <li class="list-group-item text-right" ><span class="pull-left">
                        <strong class=""translate>PROJ_DESCRIPTION</strong></span>
                        <span id="admin-description" contenteditable="true">{{project.description||"Unspecified"}}
                    </li>
                </ul>    
                <!--input type="submit" value="Apply Changes" class="btn btn-info"-->
                <button type="button" class="btn btn-info" ng-click="updateValue()" translate>PROJ_APPLY_CHANGES</button>
    
                <button  class="btn btn-danger" ng-click="deleteProject()" translate>PROJ_DELETE_PROJECT</button>
            </div>
            <!-- 
            <div class="panel panel-default">
                <div class="panel-heading">Title</div>
                    <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i>Foo Bar</div>
                </div> 
            </div>
           -->
        </div>
    </div>
</div>                
