
<!--h3>Register</h3>
<form ng-submit="register()">
    <input type="text" placeholder="Username" ng-model=username required autofocus class="form-control"></input>
    <input type="password" placeholder="Password" ng-model=password required class="form-control nomargin"></input>
    <input type="text" placeholder="Email" ng-model=email required class="form-control"></input>
    <input type="text" placeholder="First Name" ng-model=firstname class="form-control"></input>
    <input type="text" placeholder="Last Name" ng-model=lastname  class="form-control"></input>
    <button type="submit">Register</button>
</form-->




<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="account-wall-2">


        <form name=form role="form" ng-submit="register()" novalidate>
            <h3 translate>USER_REGISTER</h3>
            
            <div class="alert alert-danger" ng-show="form.firstname.$dirty && form.firstname.$invalid">
                <span ng-show="form.firstname.$error.required">First Name is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.lastname.$dirty && form.lastname.$invalid">
                <span ng-show="form.lastname.$error.required">Last Name is required.</span>
            </div>
           <div class="alert alert-danger" ng-show="form.acctnumber.$dirty && form.acctnumber.$invalid">
                <span ng-show="form.acctnumber.$error.required">Account Number is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.ifsc.$dirty && form.ifsc.$invalid">
                <span ng-show="form.ifsc.$error.required">IFSC is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.password.$dirty && form.password.$invalid">
                <span ng-show="form.password.$error.required">Password is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.conf-password.$dirty && form.conf-password.$invalid">
                <span ng-show="form.conf-password.$error.required">Password Confirmation is required.</span>
            </div>
            <div class="alert alert-danger" ng-show="form.location.$dirty && form.location.$invalid">
                <span ng-show="form.location.$error.required">Location is required.</span>
            </div>

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model=firstname class="form-control" placeholder="{{'USER_FIRST_NAME' | translate}}" tabindex="1" name=firstname required="" \>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                            <input type="text" ng-model=lastname class="form-control" placeholder="{{'USER_LAST_NAME' | translate}}" tabindex="2" name=lastname required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                   <div class="form-group">
                        <input type="text" ng-model=acctnumber class="form-control" placeholder="{{'USER_ACCT_NUMBER' | translate}}" tabindex="3" name="acctnumber" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model=ifsc class="form-control" placeholder="{{'USER_IFSC' | translate}}" name="ifsc" tabindex="4" required>
                    </div>
                </div>
            </div>
            <!--div class="form-group">
                <input type="email" ng-model=email class="form-control" placeholder="Email (Optional)" tabindex="5">
            </div-->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" ng-model=password class="form-control" placeholder="{{'USER_PASSWORD' | translate}}" name="password" tabindex="5" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="{{'USER_CONFIRM_PASSWORD' | translate}}" tabindex="6" name="conf-password"  required>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="form-group">
                        <input type="text" ng-model=location class="form-control" placeholder="{{'USER_LOCATION' | translate}}" tabindex="7" name="location" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <select ng-model=lang class="form-control">
                        <option value="" selected translate>USER_LANGUAGE</option>
                        <option name="hindi" value="hi">हिंदी</option>
                        <option name="english" value="en">English</option>
                        <option name="bengali" value="bn">বাঙালি</option>
                        <option name="gujrati" value="gu">ગુજરાતી</option>
                        <option name="kannada" value="bn">ಕನ್ನಡ</option>
                        <option name="tamil" value="ta">தமிழ்</option>
                        <option name="telugu" value="te">తెలుగు</option>
                        <option name="urdu" value="ur"> اردو </option>
                    </select>
                </div>    
            </div>
            
            <hr class="colorgraph">
            <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="{{'USER_REGISTER' | translate}}" class="btn btn-primary btn-block btn-lg" tabindex="8"></div>
                    <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg" translate>USER_SIGN_IN</a></div>
            </div>
        </form>
        </div>
    </div>
</div>
